<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klaviyo.klaviyoandroid">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name="com.klaviyo.klaviyoandroid.KlaviyoGCMReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.klaviyo.klaviyoandroid.GCM_OPEN"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- [Start receiver to listen for network connectivity -->
        <receiver android:name="com.klaviyo.klaviyoandroid.KlaviyoNetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- Full Klaviyo Service -->
        <service android:name="com.klaviyo.klaviyoandroid.Klaviyo$KlaviyoService" />


    </application>

</manifest>
